<main>
<h1 class="text-center text-uppercase">Hello</h1>
<h2 class="text-end text-lowercase">Title</h2>
<h3 class="text-capitalize">Teg one two</h3>
<hr>
<div class="display-1 text-muted">Hello</div>
<div class="display-5">Title</div>
<div class="display-6">Teg</div>
<hr>
<div class="text-muted text-end">
Додатковий <span class="display-3">текст</span>
</div>
<hr>
<button class="btn btn-primary"> 
    <span class="text-uppercase">Test button</span>
     </button>



    
</main>